footer {
  text-align: center;
  margin: 30px auto 30px auto;
  height: 30px;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 16px;
    display: block;
  }
}