header {
  max-width: 1170px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

/* Navegação do header */

nav {
  margin: 20px 0;
}

nav li {
  list-style: none;
  display: inline;
  margin: 0 5px;
  padding: 5px;
}

nav li a {
  color: var(--purple);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav li a:hover {
  color: #9985ff;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Tudo o que estiver aqui é para mobile*/

  /* Em telas menores do que 768px, o logo ficará na lateral
  direita da tela e o menu, na lateral esquerda */
  header .logo {
    display: block;
    float: right;
    width: 40%;
    height: 40%;
  }

  header {
    display: block;
    padding: 0 20px;
  }

  nav {
    position: relative;
    width: 100%;
    margin: 20px 0 80px auto;
  }

}