h2 {
  font-size: 33px;
  color: var(--purple);
}

h3 {
  font-size: 26px;
}

.prog-info {
  max-width: 1170px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

/* Configuração da posição do banner lateral */
.prog-info aside {
  max-width: 520px;
  padding: 40px 0 0 0;
}

/* Configuração do artigo sobre o programa */
.prog-info article {
  max-width: 470px;
  padding: 30px 50px 0 0;
}

.prog-info h1 {
  color: var(--purple);
}

.titulo-artigo {
  padding: 50px 0 10px 0;
  font-size: 22px;
}

.paragrafo-artigo {
  width: 290px;
  text-align: left;
}

figure img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  .prog-info {
    max-width: 400px;
    display: block;
    padding: 0 20px;
  }

  .prog-info p {
    font-size: 14px;
  }

  .prog-info img {
    max-width: 400px;
    width: 100%;
  }

}